:root {
  --duration: 1000ms;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  width: 100%;
  text-align: center;
  margin: 40px;
}

.slider,
.slider-2 {
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  border: 1px solid #ddd;
}

.slider-view {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  overflow: hidden;
  border: 1px solid red;
}
.slider-view-2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  overflow: hidden;
  border: 1px solid red;
}

.slides-container {
  position: relative;
  width: 200%;
  margin-left: -50%;
  height: 400px;
}

.slides-container-2 {
  position: relative;
  width: 100%;
  height: 300px;
}

.slide {
  position: absolute;
  min-width: calc((100% - 8%) / 3);
  display: none;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid blue;
  border-radius: 5%;
  color: white;
  font-size: 30px;
  overflow: hidden;
  text-align: center;
  padding-top: 30px;
}

.active {
  display: block;
}

.right {
  left: calc((100% - (100% - 8%) / 3));
  transform: scaleY(0.8);
  opacity: 0.3;
  transition-property: transform, opacity, left;
  transition-duration: var(--duration);
}

.center {
  left: calc(((100% - 8%) / 3) + 4%);
  transform: scaleY(1);
  opacity: 1;
  transition-property: transform, opacity, left;
  transition-duration: var(--duration);
}

.left {
  left: 0;
  transform: scaleY(0.8);
  opacity: 0.3;
  transition-property: transform, opacity, left;
  transition-duration: var(--duration);
}

.left.end,
.left.start {
  left: calc(0px - ((100% - 8%) / 3));
  transition-property: left;
  transition-duration: var(--duration);
}

.right.start,
.right.end {
  left: 100%;
  transition-property: left;
  transition-duration: var(--duration);
}

.left:hover,
.right:hover {
  opacity: 0.7;
}

.slide:nth-child(1){
  background-image: url(./img/cat1.jpeg);
}
.slide:nth-child(2){
  background-image: url(./img/cat2.jpeg);
}
.slide:nth-child(3){
  background-image: url(./img/cat3.jpg);
}
.slide:nth-child(4){
  background-image: url(./img/cat4.jpeg);
}
.slide:nth-child(5){
  background-image: url(./img/cat5.jpg);
}
.slide:nth-child(6){
  background-image: url(./img/cat6.jpg);
}
.slide:nth-child(7){
  background-image: url(./img/cat7.jpg);
}
.slide:nth-child(8){
  background-image: url(./img/cat8.jpg);
}
.slide:nth-child(9){
  background-image: url(./img/cat9.jpg);
}